@{
    ViewData["Title"] = "About";
}


<link href="~/css/grid.css" rel="stylesheet" />

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>




<p>Use this area to provide additional information.</p>
<section id="page">
    <header>Header</header>
    <nav>Navigation</nav>
    <main>Main area</main>
    <footer>Footer</footer>
</section>
