
#tblRecall {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

    #tblRecall td, #tblRecall th {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #tblRecall tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    #tblRecall tr:hover {
        background-color: #ddd;
    }

    #tblRecall th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #00aced;
        color: white;
    }





/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    
}
